
<div class="cesta-item-wrapper">
  <div class="cesta-item-card">
    <div class="imagen">
      <img [src]="'http://localhost:3000/images/' + producto.image" alt="{{ producto.nombre }}">
    </div>
  
    <div class="contenido">
      <h3>{{ producto.name }}</h3>
      <p class="description"> {{ producto.description }}</p>
      <p class="color"><Strong>Color:</Strong> {{ producto.color}}</p>
      <p class="talla"><strong>Talla</strong> {{ producto.talla }}</p>
      
      <div class="contenedor-precio">
        <p class="precio"> {{ producto.price }}€</p>
      </div>

      <!--<div class="subtotal-producto">
        <p><strong>Subtotal:</strong> {{ producto.price * producto.cantidad }}€</p>
      </div>-->
      
      <div class="cantidad">
        <p class="cantidad-text">Cantidad</p>
        <div class="cantidad-botones">
          <!-- Mostrar el icono de menos solo si la cantidad es mayor a 1 -->
          <img *ngIf="producto.cantidad > 1" 
               (click)="restarCantidad(producto)" 
               class="icono-menos" 
               src="assets/img/carrito/menos.png" 
               alt="">
      
          <!-- Mostrar el icono de la papelera solo si la cantidad es igual a 1 -->
          <img *ngIf="producto.cantidad === 1" 
               (click)="removeFromCart(producto)" 
               class="icono-papelera" 
               src="assets/img/carrito/papelera.png" 
               alt="">
      
          <p class="unidades">{{ producto.cantidad }}</p>
      
          <img (click)="sumarCantidad(producto)" 
               class="icono-mas" 
               src="assets/img/carrito/mas.png" 
               alt="">
        </div>
      </div>
      
    </div>
  </div>
  
</div>
  




  
  