
<div class="cesta-item-wrapper">
  <div class="cesta-item-card">
    <div class="imagen">
      <img [src]="producto.image" alt="{{ producto.nombre }}">
    </div>
  
    <div class="contenido">
      <h3>{{ producto.name }}</h3>
      <p class="description"> {{ producto.description }}</p>
      <p class="color"><Strong>Color:</Strong> {{ producto.color}}</p>
      <p class="talla"><strong>Talla</strong> {{ producto.tallaSeleccionada }}</p>
      
      <div class="contenedor-precio">
        <p class="precio"> {{ producto.price }}€</p>
      </div>

      <!--<div class="subtotal-producto">
        <p><strong>Subtotal:</strong> {{ producto.price * producto.cantidad }}€</p>
      </div>-->
      
      <div class="cantidad">
        <p class="cantidad-text">Cantidad</p>
        <div class="cantidad-botones">
          <img (click)="restarCantidad(producto)" class="icono-menos" src="assets/img/carrito/menos.png" alt="">
          <p class="unidades">{{ producto.cantidad }}</p>
          <img (click)="sumarCantidad(producto)" class="icono-mas" src="assets/img/carrito/mas.png" alt="">
        </div>
      </div>
    </div>
  </div>
  
</div>
  




  
  