.cesta-item-card {
    width: 700px;
    max-height: 160px;
    margin-left: 220px;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #f8f8f8;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .imagen img {
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .contenido {
    flex: 1;
  }

  .añadir {
    background-color: #4CAF50;
    border: none;
    padding: 0.5rem 1rem;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 0.5rem;
  }
  
  .quitar {
    background-color: #ff4d4d;
    border: none;
    padding: 0.5rem 1rem;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 0.5rem;
    margin-left: 7px;
  }

  h3{
    margin-top: 50px;
    color: black;
  }

  .description{
    color: gray;
    font-size: 14px;
  }

  .color{
    color: gray;
  }

  .talla{
    color: gray;
  }
  
  .contenido {
    position: relative; /* Esto es importante para que el precio se posicione de manera absoluta */
  }
  
  .contenedor-precio {
    position: absolute; /* Posicionamos el precio en la parte superior derecha */
    top: 30px;
    right: 10px;
    font-weight: bold;
    font-size: 18px;
  }
  
  .precio {
    margin-top: 20px;
    color: black;
  }


  .cesta-item-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .cantidad {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 1rem;
    position: absolute;
    right: 10px;
    top: 140px;
  }

  .cantidad-text{
    color: black;
    
  }

  button{
    text-decoration: none;
    border: none;
    background-color: transparent;
    background-color: #dbd9d9; /* Verde */
    color: black;

  }

  .cantidad-botones{
    display: flex;
    padding: 0px 12px;
    align-items: center;
    justify-content: space-between;
    width: 80px;
    height: 30px;
    border: 1px solid rgb(198, 198, 198);
    gap: 10px;
    border-radius: 16px;
  }

  .unidades{
    color: black;
    font-size: 18px;
    font-weight: bold;
  }

  .icono-mas{
    color: black;
    width: 15px;
    height: 15px;
  }

  .icono-menos{
    color: black;
    width: 12px;
    height: 17px;
  }