/* Estilo general para el contenedor de productos*/ 
.product-page {
    padding: 0;
    width: 100%;
    margin: 0;
}

/* Estilo para la sección de productos (grid de productos) */
.products {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr)); 
    width: 100%;
    justify-content: center;
    align-items: stretch;
    overflow: hidden;
}

/* Título */
.title {
    margin-left: 60px;
    margin-top: 20px;
    color: black;
    margin-bottom: 0px;
    font-size: 24px;
}

/* Estilos para el producto */
.product {
    display: flex;
    justify-content: center;
}

/* Estilos generales de la imagen */
.product .container {
    padding: 20px;
}

.productos-categoria{
    color: black;
    text-transform: uppercase;
    text-align: center;
}

.productos-nohay{
    color: black;
    margin-left: 60px;
}

.productos-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas iguales */
    gap: 0; /* Sin espacio entre productos */
    padding: 0; /* Quita padding para que ocupe todo el ancho */
    margin-top: 0; /* Opcional, quita margen superior */
    width: 100vw; /* 100% ancho de viewport */
    box-sizing: border-box; /* Incluye padding y borde en el ancho total */
  }
  

.producto-imagen{
    width: 350px;
    height: 300px;
    object-fit: cover; /* Mantiene la proporción de la imagen */
}

.producto{
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los productos horizontalmente */
    justify-content: center; /* Centra los productos verticalmente */
    margin: 10px; /* Espacio entre productos */
    padding: 10px; /* Espacio interno del producto */
    border: 1px solid #ccc; /* Borde alrededor del producto */
    border-radius: 5px; /* Bordes redondeados */
    background-color: #f9f9f9; /* Fondo claro para el producto */
}

.nombre-objeto{
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    color: black;
    text-align: center;
}

/* Estilos para el precio */
.product--info__price {
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.product--info__price h1 {
    font-size: 14px;
    color: black; /* Verde para indicar el precio */
    font-weight: bold;
    
    margin: 0;
}

@media screen and (max-width: 700px) {
    
    .products {
        grid-template-columns: 1fr; /* 1 producto por fila */
        gap: 10px; /* Menor espacio entre productos */
        padding: 0; /* Elimina padding alrededor del grid */
        display: flex; /* Cambia a Flexbox para más control */
        flex-direction: column; /* Coloca los productos en una columna */
        align-items: center; /* Centra los productos horizontalmente */
        margin-top: 0; /* Elimina cualquier margen adicional */
        padding-top: 0;
    }

    .products .product {
        width: 100%; /* Limita el ancho de los productos al 90% */
        height: auto;
        margin-right: 10px;
    }

    .products .product .container {
        padding: 20px; /* Menos padding en los contenedores de los productos */
        width: 90%; /* Asegura que el contenedor ocupe el 100% */
    }

    /*.products .product .container {
        padding: 0px;
        margin-right: 20px;
    }*/

    h1{
        font-size: 25px; /* Cambia el tamaño de la fuente del título */
        margin-top: 30px; 
    }

    .products .product img {
        width: 20%;
        max-width: 20%; /* Asegura que las imágenes no se desborden */
        height: auto; /* Mantiene las proporciones */
        margin-right: 30px;
    }

    .title {
        font-size: 22px; /* Reducir tamaño en móviles */
        margin-top: 5px; /* Menos espacio en móviles */
        margin-left: 95px;
        margin-bottom: 0px;
        
        padding-bottom: 0;
    }
    
}




/* Media Query para pantallas medianas (min-width: 600px y max-width: 992px) */
@media screen and (min-width: 700px) and (max-width: 1300px) {
    .products {
        grid-template-columns: repeat(5, 1fr); /* 2 productos por fila */
        gap: 0px;
        
    }

    .products .product .container {
        padding: 0px;
        margin-right: 20px;
    }

    
}

/* Media Query para pantallas grandes (min-width: 993px y max-width: 1200px) */
@media screen and (min-width: 1300px) and (max-width: 1600px) {
    .products {
        grid-template-columns: repeat(4, 1fr); /* 3 productos por fila */
        gap: 5px;
    }

    .products .product {
        width: 100%;
        padding: 10px;
        
    }

    .products .product .container {
        padding: 10px;
    }

    .products .product img {
        max-height: 250px; /* Ajusta la altura máxima de las imágenes */
        object-fit: cover;
    }
}

@media screen and (min-width: 1600px) {
    .products {
        display: grid;
        grid-template-columns: repeat(5, minmax(250px, 1fr));
        padding: 0; /* sin separación lateral */
        margin: 0 auto; /* centra si hay un max-width */
    }

    .products .product .container {
        padding: 10px;
    }

    .products .product img {
        max-height: 250px;
        object-fit: cover;
    }
}
