
img {
    max-width: 100%;    /* Asegura que la imagen no se salga de su contenedor */
    height: auto;       /* Mantiene la proporción original de la imagen */
    transition: all 0.3s ease; /* Agrega un efecto de transición suave */
  }