.product-page {
  padding: 0;
  width: 100%;
  margin: 0;
}

.title {
  margin-left: 220px;
  margin-top: 60px;
  color: black;
  margin-bottom: 0px;
  font-size: 20px;
}



h2{
  color: black;
}

.contenedor-pago{
  position: absolute;
  top: 130px;
  left: 1040px;
}
.resumen-titulo{
  color: black;
  font-size: 30px;
  
}

.contenedor-codigo{
  display: flex;
  align-items: center;
}
.codigo{
  color: black;
  font-weight: bold;
}

.flecha-hacia-abajo{
  height: 17px;
  width: 17px;

  margin-left: 60px;
}

.subtotal{
  color: black;
  display: flex;
  justify-content: space-between;
}

.gastos-envio{
  color: black;
  display: flex;
  justify-content: space-between;
}

.total{
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.total-text {
  text-align: center;
  
  font-weight: bold;
}

.total-precio{
  font-weight: 700;
}

.pagar{
  background-color: #ececec; /* Verde */
  color: grey;
  width: 100%;
  height: 50px;
  border-radius: 28px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  margin-top: 20px;
  cursor: pointer;
}

.codigo-promocional {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  height: 40px;
  margin-bottom: 10px;
}

.codigo-promocional input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 200px;
}

.codigo-promocional button {
  padding: 8px 16px;
  background-color: #ffffff; /* Verde */
  border: 1px solid black;
  color: grey;
  
  border-radius: 18px;
  cursor: pointer;
  width: 130px;
  font-size: 16px;
  font-weight: 700;
  
}

.codigo-promocional button:hover {
  background-color: #005f2f;
}

.mensaje-error {
  color: red;
  margin-top: 8px;
  font-weight: 500;
  font-size: 14px;
}

.pagar.activo {
  background-color: black; 
  cursor: pointer;
  color: white;
  font-weight: 600;
}

