.favorito-item-wrapper {
  /* NO uses display: flex aquí */
  display: block;
  width: auto; /* Asegúrate que no sea 100% */
  margin: 0;
}


.favorito-item-card {
  width: 290px;
  margin: 0px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  
}


.imagen-container {
  position: relative;
  background: #f7f7f7; /* Fondo gris claro */
  border-radius: 10px;
}

.imagen-container img {
  width: 100%;
  height: 240px; /* Altura de la imagen */
  object-fit: cover; /* Asegura que la imagen se recorte de forma correcta */
  
}

.corazon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.corazon img {
  width: 24px;
  height: 24px;
}

.contenido {
  padding: 10px;
}

.producto-nombre {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 5px;
  color: rgb(115, 57, 57);
  text-transform: camelcase;
}

.producto-precio {
  font-size: 13px;
  font-weight: 400;
  color: black;
}
