.titulo-categorias {
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.categoria-item {
  margin-left: 10px;
  margin-bottom: 6px;
}

.flecha-icon {
  width: 14px;
  height: 14px;
  margin-left: 8px;
}
