<h1 class="nombreMarca">بيت الأناقة </h1>
    
    <div class="galeria">
        
        <div class="gallery-item">
            <img src="assets/img/moncler.jpg" alt="Moncler">
            <h2>MONCLER</h2>
        </div>

        <div class="gallery-item">
            <img src="assets/img/coteizz.jpg" alt="Corteiz">
            <h2>CORTEIZ</h2>
        </div>

        <div class="gallery-item">
            <img src="assets/img/stone4.jpg" alt="Moncler">
            <h2>STONE ISLAND</h2>
        </div>

        <div class="gallery-item">
            <img src="assets/img/gallery.jpg" alt="Gallery Dept">
            <h2>Gallery Dept</h2>
            <p>Descripción breve.</p>
        </div>

        <div class="gallery-item">
            <img src="assets/img/denim.jpg" alt="Denim Tears">
            <h2>Denim Tears</h2>
            <p>Descripción breve.</p>
        </div>

        <div class="gallery-item">
            <img src="assets/img/lv.jpg" alt="LV">
            <h2>LV</h2>
            <p>Descripción breve.</p>
        </div>

        <div class="gallery-item">
            <img src="assets/img/canada.jpg" alt="Canada">
            <h2>Canada</h2>
            <p>Descripción breve.</p>
        </div>

        <div class="gallery-item">
            <img src="assets/img/rolex.jpg" alt="Rolex">
            <h2>Rolex</h2>
            <p>Descripción breve.</p>
        </div>

        <!-- Agrega más marcas aquí -->
    </div>

    
