<!--<header>
    <h1 class="nombreMarca">CLASSIQUE</h1>
    <a routerLink="/stone">
      <img class="carro" src="assets/img/marcas/icono-carro.png" alt="Stone">
    </a>
    <a routerLink="/stone">
      <img class="favoritos" src="assets/img/marcas/guardarBlanco.png" alt="Stone">
    </a>
  </header>
  
  <div class="galeria">
    <div *ngFor="let marca of marcas" class="gallery-item">
      <a *ngIf="marca.ruta" [routerLink]="marca.ruta">
        <img [src]="marca.imagen" alt="{{ marca.nombre }}">
      </a>
      <h2>{{ marca.nombre }}</h2>
      <p>Descripción breve.</p>
    </div>
  </div>-->

<section class="product-page">
    <!-- Header -->
    <app-header class="header"
        [userInfo]="{ image: 'assets/img/avatar.png', role: 'ADMIN' }"
        [title]="'CLASSIQUE'">
    </app-header>

    <div class="galeria">
      <div *ngFor="let marca of marcas" class="gallery-item">
        <a *ngIf="marca.ruta" [routerLink]="marca.ruta">
          <img [src]="marca.imagen" alt="{{ marca.nombre }}">
        </a>
        <h2>{{ marca.nombre }}</h2>
        <p>Descripción breve.</p>
      </div>
    </div>

</section>