    
    <header>
        <h1 class="nombreMarca">CLASSIQUE</h1>

    </header>
    
    
    <div class="galeria">
        
        <div class="gallery-item">
            <img src="assets/img/marcas/moncler.jpg" alt="Moncler">
            <h2>MONCLER</h2>
        </div>

        <div class="gallery-item">
            <img src="assets/img/marcas/coteizz.jpg" alt="Corteiz">
            <h2>CORTEIZ</h2>
        </div>
    <!--
        <div class="gallery-item">
            <a routerLink="/stone">
                <img src="assets/img/stone4.jpg" alt="Moncler">
            </a>
            <h2>STONE ISLAND</h2>
        </div>
        -->
        <div class="gallery-item">
            <a href="/stone">
                <img src="assets/img/marcas/stone4.jpg" alt="Moncler">
            </a>
            <h2>STONE ISLAND</h2>
        </div>
        

        <div class="gallery-item">
            <img src="assets/img/marcas/gallery.jpg" alt="Gallery Dept">
            <h2>Gallery Dept</h2>
            <p>Descripción breve.</p>
        </div>

        <div class="gallery-item">
            <img src="assets/img/marcas/denim.jpg" alt="Denim Tears">
            <h2>Denim Tears</h2>
            <p>Descripción breve.</p>
        </div>

        <div class="gallery-item">
            <img src="assets/img/marcas/lv.jpg" alt="LV">
            <h2>LV</h2>
            <p>Descripción breve.</p>
        </div>

        <div class="gallery-item">
            <img src="assets/img/marcas/canada.jpg" alt="Canada">
            <h2>Canada</h2>
            <p>Descripción breve.</p>
        </div>

        <div class="gallery-item">
            <img src="assets/img/marcas/rolex.jpg" alt="Rolex">
            <h2>Rolex</h2>
            <p>Descripción breve.</p>
        </div>

        <!-- Agrega más marcas aquí -->
    </div>

    
