
<section class="product-page">
    <!-- Header -->
    <app-header class="header"
        [userInfo]="{ image: 'assets/img/avatar.png', role: 'ADMIN' }"
        [title]="'CLASSIQUE'">
    </app-header>

    <div class="galeria">
      <div *ngFor="let marca of marcas" class="gallery-item">
        <a *ngIf="marca.ruta" [routerLink]="marca.ruta">
          <img [src]="marca.imagen" alt="{{ marca.nombre }}">
          <p>Ruta que llega: {{ marca.imagen }}</p>
        </a>                
        <h2>{{ marca.nombre }}</h2>
        <p>Descripción breve.</p>
      </div>
    </div>

</section>


