<header class="app-header">
  <h1 class="nombreMarca">{{ title }}</h1>

  <div class="menu-icons">
      <div class="icon-item" (click)="openMenu()">
          <img class="img-tresbarras icon-img" src="assets/img/header/tresbarras.png" alt="Menú">
          <p>Menú</p>
      </div>
      <div class="icon-item">
        <div class="search-container" (click)="openSearch()">
          <img class="img-lupa icon-img" src="assets/img/header/lupa.png" alt="Buscar">
          <input type="text" [(ngModel)]="searchQuery" (focus)="openSearch()" placeholder="Buscar">
        </div> 
      </div> 
  </div> 

  <!-- Contenedor de iconos -->
  <div class="contendor-iconos">

    <div>
      <a [routerLink]="['/favoritos']">
        <img class="img-corazon icon-img" src="assets/img/header/corazon.png" alt="">
      </a>
    </div>

    <div>
      <a [routerLink]="['/carrito']">
        <img class="img-carro icon-img" src="assets/img/header/carro.png" alt="">
      </a>
    </div>
</div> 

  <div class="search-overlay" *ngIf="isSearchOpen" (click)="closeSearch()"></div>

  <!-- BUSCADOR -->
  <div class="search-popup" *ngIf="isSearchOpen">
    <button class="close-btn" (click)="closeSearch()">Cancelar</button>

    <div class="buscador" (click)="openSearch()">
      <img class="img-lupa icon-img" src="assets/img/header/lupa.png" alt="Buscar">
      <input type="text" [(ngModel)]="searchQuery" (focus)="openSearch()" (keydown.enter)="search()" placeholder="Buscar">
    </div>

    <div class="contenedor-populares">
      <h3 class="terminos">Términos de búsqueda populares</h3>
      <div class="contenedor-botones">
        <button [routerLink]="['/stone-island']" class="botones" (click)="closeSearch()">Camiseta Stone Island</button>
        <button [routerLink]="['/marcas']" class="botones">Volver a marcas</button>
        <button [routerLink]="['/corteiz']" class="botones" (click)="closeSearch()">Chaqueta Corteiz</button>
        <button [routerLink]="['/dior']" class="botones" (click)="closeSearch()">Dior bolsos</button>
        <button [routerLink]="['/carrito']" class="botones" (click)="closeSearch()">Carrito</button>
      </div>
    </div>

    <div class="contenedor-recientes">
      <h3 class="terminos">Búsquedas recientes</h3>
      <div class="contenedor-botones-recientes">
        <div *ngFor="let search of recentSearches" class="busqueda-item">
          <p (click)="searchQuery = search" class="texto-reciente">{{ search }}</p>
          <button (click)="eliminarBusqueda(search)" class="boton-eliminar">×</button>
        </div>
      </div>
    </div>
    
    
    
    

  </div>

  
 <!-- ✅ MENÚ LATERAL - FILTROS -->
 <div class="sidebar-overlay" *ngIf="menuOpen" (click)="closeMenu()">
  <div class="sidebar" (click)="$event.stopPropagation()">

    <!-- Botón cerrar -->
    <div class="contenedor-cerrar" (click)="closeMenu()">
      <p class="texto-cerrar">FILTRAR</p>
      <img class="boton-cerrar" src="assets/img/header/marca-x.png" alt="Cerrar">
    </div>

    <!-- ✅ GRUPO DE FILTROS -->
    <app-filtro-categorias
      [titulo]="'Ropa'"
      [categorias]="['Jersey', 'Pantalon', 'Chaqueta', 'Polo', 'Camiseta', 'Sudadera']"
      [(seleccionadas)]="filtros.ropa"
      (seleccionadasChange)="onFiltroChange('ropa', $event)">
    </app-filtro-categorias>

    <app-filtro-categorias
      [titulo]="'Accesorios'"
      [categorias]="['Bolso', 'Pulsera', 'Collar', 'Pendientes', 'Anillo', 'Gafas', 'Reloj']"
      [(seleccionadas)]="filtros.accesorios"
      (seleccionadasChange)="onFiltroChange('accesorios', $event)">
    </app-filtro-categorias>

    <app-filtro-categorias
      [titulo]="'Perfumes'"
      [categorias]="['Perfume']"
      [(seleccionadas)]="filtros.perfumes"
      (seleccionadasChange)="onFiltroChange('perfumes', $event)">
    </app-filtro-categorias>

    <!-- Debug temporal 
    <pre>{{ filtros | json }}</pre>-->

  </div>
</div>


  

  <!-- MENU 
  <div class="sidebar-overlay" *ngIf="menuOpen" (click)="closeMenu()">
      <div class="sidebar" (click)="$event.stopPropagation()">
          <div class="contenedor-cerrar">
            <img class="boton-cerrar" src="assets/img/header/x.png" alt="">
            <p class="texto-cerrar">Cerrar</p>
          </div>
          
          <div class="contenedor-marcas">

              <div class="contenedor-moncler">
                <img class="img-moncler" src="assets/img/header/moncler2.jpg" alt="">
                <h2>Moncler</h2>
              </div>
              
              <div class="contenedor-corteiz">
                <a [routerLink]="['/corteiz']">
                  <img class="img-corteiz" src="assets/img/header/crtz.jpg" alt="">
                  <h2 class="titulo-moncler">Corteiz</h2>
                </a>
              </div>
              
              <div class="contenedor-stone">
                <a [routerLink]="['/stone-island']">
                  <img src="assets/img/header/stone.webp" alt="" class="img-stone">
                  <h2 class="titulo-stone">Stone Island</h2>
                </a>
              </div>

              <div class="contenedor-gallery">
                <img src="assets/img/header/gallery3.jpg" alt="" class="img-gallery">
                <h2 class="titulo-gallery">Gallery Dept</h2>
              </div>

              <div class="contenedor-chanel">
                <img src="assets/img/header/chanel.jpg" alt="" class="img-chanel">
                <h2 class="titulo-chanel">Chanel</h2>
              </div>

              <div class="contenedor-nf">
                <img src="assets/img/header/nf.jpg" alt="" class="img-nf">
                <h2 class="titulo-nf">North Face</h2>
              </div>

              <div class="contenedor-canada">
                <img src="assets/img/header/canada.jpg" alt="" class="img-canada">
                <h2 class="titulo-canada">Canada Goose</h2>
              </div>

              <div class="contenedor-rolex">
                <img src="assets/img/header/rolex.jpg" alt="" class="img-rolex">
                <h2 class="titulo-rolex">Rolex</h2>
              </div>
          </div>

          <div class="contenedor-ayuda">
              <h3>¿Podemos ayudarle?</h3>
              <h3>+34 913 75 30 70</h3>
          </div>
          <hr>
      </div>
  </div>-->

</header>
