/* Establecer box-sizing en todo el sitio para evitar cálculos inesperados */


/* En el header */
.app-header {
    width: 100%;
    box-sizing: border-box;  /* Asegura que el padding y border se cuenten dentro del 100% */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #002f6c;
    color: white;
    padding: 15px 0px;
    margin: 0px;
    border-radius: 8px;
}
  
  /* Avatar */
  .avatar-img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    padding: 5px;
    margin-left: 20px;
    border: 2px solid #fff; /* Borde blanco por defecto */
    transition: all 0.3s ease; /* Transición suave para cambios en el borde */
  }
  
  .avatar-img:hover {
    transform: scale(1.1); /* Efecto de zoom cuando el mouse pasa por encima */
  }
  
  /* Avatar con borde para ADMIN */
  .admin {
    border: 2px solid cyan;
  }
  
  /* Avatar con borde para USER */
  .user {
    border: 2px solid yellow;
  }
  
  
  .title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    white-space: nowrap; /* Evita que el texto se parta */
}
  
  h1 {
    font-size: 24px;
    margin: 0;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
  }
  
  /* Contenedor de la barra de búsqueda */
.search-container {
    margin-right: 5px;
  }
  
  .search-input {
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 150px;
    margin-right: 0px;
  }
  
  .search-input::placeholder {
    color: #ccc;
  }
  
  