
<section class="product-page">
    <app-header class="header"
        [userInfo]="{ image: 'assets/img/avatar.png', role: 'ADMIN' }"
        [title]="'INCIAR SESIÓN'">
    </app-header>

    <video muted autoplay loop>
        <source src="assets/video/stoneisland.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="cap"></div>
    
    <div class="login-container">
        <form (ngSubmit)="onLoginSubmit()" class="formulario" autocomplete="on">
            <h3 class="inicio-sesion">Inicio de sesion</h3>
            <div class="form-group">
                <input type="email" id="email" [(ngModel)]="email" name="email" required placeholder="Introduce tu email">
            </div>
            <div class="form-group">
                <input type="password" id="password" [(ngModel)]="password" name="password" required placeholder="Introduce tu contraseña">
            </div>
            <button type="submit">Inicia Sesión</button>
        
            <!--<div class="remember-me">
                <mat-checkbox [(ngModel)]="rememberMe" (change)="onRememberPassword()">
                  Remember me
                </mat-checkbox>
            </div>-->
            <div class="accessQuicly">
                <p>or access quicly</p>
                <div id="googleSignInButton" style="text-align: center; margin-top: 20px;"></div>
            </div>

            <a href="/registro" class="noCuenta">
                <p>¿No tienes una cuenta? Regístrate.</p>
            </a>
        </form>
    </div>

    <div class="contenedor-whatsapp">
        <img class="img-watsapp" src="assets/img/login/whatsapp5.jpg" alt="">
        <p class="hablamos">¿Hablamos por Whatsapp?</p>
        <p class="escribenos">Escribenos al +34 678123000</p>
        <p class="disponibilidad">Disponible de lunes a domingo de 09:00 a 18:00 y los sábados de 10:00 a 18:00.
            <br>
            Responderemos en menos de 24 horas.
        </p>
    </div>

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    
    <script src="../js/login.js"></script> 
</section>