<div class="product" [attr.units-available]="product.unitsAvailable">
    <div class="product--image" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()" style="position: relative;">
        <img
          [attr.src]="'http://localhost:3000/images/' + product.image"
          [alt]="product.name"
          [ngStyle]="productImageStyle"
        >
    
        <!-- Overlay que aparece al hacer hover -->
        <div class="image-hover-overlay" [ngClass]="{ 'visible': isHovered }">
            <select class="size-selector" (change)="onSizeChange($event)">
              <option disabled selected>Talla</option>
              <option *ngFor="let size of stockPorTalla" [value]="size.talla" [disabled]="size.stock <= 0">
                  <!--{{ size.talla }} (Stock: {{ size.stock }})-->
                  {{ size.talla }}
              </option>
          </select>
          <button class="add-btn" [ngClass]="{'btn-verde': selectedSize,'btn-rojo': tallaNoSeleccionada}" (click)="addToCart()">Añadir</button>
        </div>
        
    </div>
      
    <div class="product--info">
        <div class="title-container">
          <h1 class="product--info__title">{{ product.name | uppercase }}</h1>
          <img 
            class="img-corazon" 
            [src]="isFavorite ? 'assets/img/header/corazon-rojo.png' : 'assets/img/header/corazon.png'" 
            alt="Corazón" 
            (click)="addToFavorites()"
          >
        </div>
        <p class="product--info_description">{{ product.description }}</p>
        <div class="product--info__price">
          <h1>{{ product.price | currency }}</h1>
        </div>
      </div>
      
    <!--<div class="product--actions">
        <button (click)="buyProduct()" [disabled]="!(product.unitsAvailable > 1)" class="product--actions__btn buy">COMPRAR</button>
        <button (click)="addToCart()" class="product--actions__btn add">+ CARRITO</button>-
    </div>-->
</div>
