<!--  بيت الأناقة (Bayt Al-Anaqa): Significa "la casa de la elegancia". Da un aire sofisticado.  -->
<h1 class="nombreMarca">بيت الأناقة </h1>

<div class="contenedor">
    <h3>JOIN WAITLIST</h3>
    <form (ngSubmit)="onJoinWaitlistSubmit()">
        <input type="telefono" id="tel" name="telefono" placeholder="Telefono" [(ngModel)]="telefono" required>
        <button type="submit">Enviar</button>
    </form>
</div>

<video muted autoplay loop>
    <source src="assets/video/stoneisland.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>
<div class="cap"></div>

<h2>WEBSITE OPEN</h2>
<img src="assets/img/registro/candado1.png" alt="candado" class="img-candado">

<form (ngSubmit)="onRegisterSubmit()" class="formulario" autocomplete="off">
    <div class="form-group">
        <input type="email" id="email" name="email" required placeholder="Email" [(ngModel)]="email">
    </div>
    <div class="form-group">
        <input type="password" id="password" name="password" required placeholder="Contraseña" [(ngModel)]="password">
    </div>
    <button type="submit">Registrate</button>
</form>

<div *ngIf="message" [ngClass]="{ 'error': isError, 'success': !isError }">
    <p>{{ message }}</p>
</div>

  
  

<a href="/login">
    <p>¿Ya tienes una cuenta? Inicia Sesión.</p>
</a>

<script src="../js/register.js"></script>
    