.product-page {
    padding: 0;
    width: 100%;
    margin: 0;
}


/* VIDEO DE FONDO */

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

img{
    width: 400px; 
    height: auto; 
    display: block; 
    margin: 0 auto;
    border: 5px solid #ccc; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

#hero {
    height: 50vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

video {
    position: absolute;
    top: 12%;
    left: 0;
    width: 100%; 
    height: 66%; 
    object-fit: cover; 
    filter: brightness(0.6);
}

.capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
}

h2{
    position: absolute;
    top: 160px;
    left: 530px;
    font-family: Arial, sans-serif;
    font-size: 60px;
    font-weight: 600;
    color: #FFD700;
    text-shadow: -1px -1px 2px #000, 1px 1px 2px #000; 
}

.img-candado {
    position: absolute;
    top: 260px;
    left: 1000px;
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

.formulario {
    position: absolute;
    top: 330px;
    left: 50%;
    width: 90%;
    max-width: 340px;
    transform: translate(-50%, -50%);
    background: #f9f9f9; /* Fondo semitransparente */
    margin: 0;
    
    
    /* Borde y sombra */
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    
    /* Texto y espaciado */
    padding: 40px;
    color: #222; /* Amarillo para texto principal */
    
    /* Tipografía */
    font-family: 'Montserrat', sans-serif;
}

.registro{
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: black;
}

.formulario .form-group {
    margin-bottom: 15px;
}

.formulario label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: black;
}

.formulario input[type="email"], .formulario input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid black; 
    border-radius: 5px;
    font-size: 16px;
}

.formulario button {
    width: 97%;
    padding: 10px;
    background-color: #000000;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}
.formulario button:hover {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000;
}

.remember-me{
    margin-top: 11px;
}

.accessQuicly {
    margin-top: 0px;  
    text-align: center;
    font-size: 14px;
    color: gray;
}

.accessQuicly p {
    display: flex;
    align-items: center;
    color: #000000; 
    margin: 7px 0;
    text-transform: lowercase; 
  }
  
  .accessQuicly p::before,
  .accessQuicly p::after {
    content: "";
    flex: 1;
    height: 1px;
    background: #ddd; 
    margin: 0 10px; 
  }

  .noCuenta {
    font-family: 'Cairo', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #000000; 
    text-align: center;
    margin-top: 50px;
    text-decoration: none;
}


/* Estilo para el Snackbar de error */
.snackbar-error {
    background-color: #f44336 !important; /* Rojo para los errores */
    color: white !important;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    position: absolute;
    top: 500px;
  }
  
  /* Estilo para el Snackbar de éxito */
  .snackbar-success {
    background-color: #4CAF50 !important; /* Verde para éxito */
    color: white !important;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
  }
  
  .contenedor-whatsapp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 390px; /* Puedes ajustar este margen como necesites */
    text-align: center;
}

.img-watsapp {
    width: 55px;
    height: 50px;
    margin-bottom: 0px;
    border: none;
    box-shadow: none;
    background: transparent;
}


.hablamos {
    color: rgb(44, 193, 44);
    font-weight: 700;
    font-size: 20px;
    margin: 5px 0;
}

.escribenos {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0;
}

.disponibilidad {
    color: grey;
    font-size: 13px;
    margin-top: 5px;
}
  
  
  

  